@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #346e93;
  // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
