<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="col item social">
        <a href="https://www.facebook.com/oliver.mentel/"
          ><i class="fa fa-facebook"></i></a
        ><a href="https://soundcloud.com/rad-boss"
          ><i class="fa fa-soundcloud"></i></a
        ><a href="https://www.instagram.com/volcannobis/"
          ><i class="fa fa-instagram"></i></a
        ><a href="https://github.com/oliver-mentel"
          ><i class="fa fa-github"></i
        ></a>
        <a href="https://www.linkedin.com/in/oliver-mentel-73b539164/"
          ><i class="fa fa-linkedin"></i
        ></a>
      </div>
      <p class="copyright">Oliver R. Mentel © 2020</p>
    </div>
  </footer>
</div>
