#left-box {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  justify-content: center;
  padding: 0 !important;
  height: 100vh;
}

h2 {
  font-size: 30px;
  font-size: 3.5vh;
}

#right-box {
  padding: 0px;
  height: 100vh;
  border-bottom: 2px solid white;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.row.is-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  object-fit: cover;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  // margin: 20px auto;
}

img {
  width: 100%; // dimensions are mandatory
  height: 99.8vh; // dimensions are mandatory
  object-fit: cover;
  overflow: hidden; // Cuts off the parts of the image poking out
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  text-transform: uppercase;
}

#text-container {
  width: 60%;
  padding: 20px;
  transition: 2s -webkit-filter linear;
  backdrop-filter: blur(6px);
  border-radius: 8px 8px 8px 8px;
  border: solid 2px rgb(255, 255, 255);
}

// .text-content {
//   display: flex;
//   flex-direction: row;
// }
