<section>
  <div class="container-fluid">
    <div class="row is-flex">
      <div class="col-md-12 col-lg-6" id="left-box" [ngStyle]="!isBiggerThan992px ? {'border-right': 'none'} : {'border-right': '2px dashed white'}">
        <div style="display: table">
          <div style="display: table-cell; vertical-align: middle">
            <h2 class="heading">Welcome</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6" id="right-box">
        <div class="image-container">
          <img src="../../assets/Oliver_Mentel_Portrait.jpg" />
          <div
            class="image-text animate__animated animate__fadeIn animate__delay-1s"
          >
            <h3 style="font-weight: 200; padding-bottom: 30px">Hi there!</h3>
            <h5 style="font-weight: 200">
              My name is Oliver and I like to design and code websites/ software
              solutions.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
