<!-- Skills -->
<section class="section padding-lg">
  <div class="container">
    <div class="row heading heading-icon" id="skills-header">
      <h2>Skills</h2>
    </div>
    <div>
      <h5 class="description">
        As I've grown as a developer, I had the chance to work alongside
        developers who have raised my standards for what's expected of any web
        application. Therefore, I've gained a solid understanding of web and
        software development, and have also dedicated my free time to apply such
        concepts.
      </h5>
    </div>

    <div id="skills-subheading">
      <h4>Web- & Software Development</h4>
    </div>

    <div class="carousel-container">
      <div class="col-sm-12 col-md-8">
        <div class="flex-child">
          <carousel
            [isAnimated]="true"
            [noPause]="true"
            [pauseOnFocus]="true"
            [noWrap]="false"
            [interval]="false"
            class="carousel"
          >

            <!--- Angular -->
            <slide>
              <div class="text-center text-white">
                <ul class="row">
                  <li class="col-sm-12">
                    <div class="tp-wrapper">
                      <div
                        class="tp-box"
                        (click)="toggleFlipCard(1)"
                        [@flipState]="skillCard[1]['status']"
                      >
                        <div class="tp-box__side tp-box__front">
                          <div class="cnt-block equal-hight">
                            <figure>
                              <img
                                src="assets/Logo/Angular_full_color_logo.svg"
                                class="img-responsive"
                                alt=""
                              />
                            </figure>
                            <h3>
                              <a href="https://angular.io/docs" target="_blank"
                                >Angular
                              </a>
                            </h3>
                            <p>
                              Back in 2019 is when I started developing with
                              Angular where I got to appreciate the
                              component-based architecture of this
                              web-framework, which makes the code more reusable,
                              maintainable as well as improves readability. I
                              feel most comfortable with this framework.
                            </p>
                            <div class="projects">
                              <p>Click to see Projects</p>
                              <i class="fas fa-reply"></i>
                            </div>
                          </div>
                        </div>
                        <div class="tp-box__side tp-box__back">
                          <div class="cnt-block equal-hight">
                            <h3 class="header-back">Tasks & Projects</h3>
                            <h6>
                              <ul>
                                <div class="project-item">
                                  <i class="fas fa-edit fa-2x"></i>
                                  <li>
                                    GUI Redesigns/ Feature additions and
                                    Maintenance for Swisscom
                                  </li>
                                </div>
                                <div class="project-item">
                                  <i class="fas fa-desktop fa-2x"></i>
                                  <li>My Portfolio Website</li>
                                </div>
                                <div class="project-item">
                                  <i class="fas fa-book fa-2x"></i>
                                  <li>
                                    Online Recipe Book with Backend
                                    Functionality.
                                  </li>
                                </div>
                              </ul>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </slide>

            <!--- VueJS -->
            <slide>
              <div class="text-center text-white">
                <ul class="row">
                  <li class="col-sm-12">
                    <div class="tp-wrapper">
                      <div
                        class="tp-box"
                        (click)="toggleFlipCard(3)"
                        [@flipState]="skillCard[3]['status']"
                      >
                        <div class="tp-box__side tp-box__front">
                          <div class="cnt-block equal-hight">
                            <figure>
                              <img
                                src="assets/Logo/VueJS_Logo.svg"
                                class="img-responsive"
                                alt=""
                              />
                            </figure>
                            <h3>
                              <a
                                href="https://vuejs.org/"
                                target="_blank"
                                >Vue.js</a
                              >
                            </h3>
                            <p>
                              In order to support the ATLAS Team in Swisscom I was given the chance
                              to further expand my front-end knowledge by learning Vue.js. In my opinion
                              the benefits come from its simplicity, reusability and big open community.
                            </p>
                            <div class="projects">
                              <p>Click to see Projects</p>
                              <i class="fas fa-reply"></i>
                            </div>
                          </div>
                        </div>
                        <div class="tp-box__side tp-box__back">
                          <div class="cnt-block equal-hight">
                            <h3 class="header-back">Tasks & Projects</h3>
                            <h6>
                              <ul>
                                <div class="project-item">
                                  <i class="fas fa-edit fa-2x"></i>
                                  <li>
                                    Implementation of features, bug fixes and unit-testing
                                    for SDC (Swisscom Data Console)
                                  </li>
                                </div>
                                <div class="project-item">
                                  <i class="fas fa-gamepad fa-2x"></i>
                                  <li>
                                    Clicker Game
                                  </li>
                                </div>
                              </ul>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </slide>

            <!--- HTML, CSS & JS -->
            <slide>
              <div class="text-center text-white">
                <ul class="row">
                  <li class="col-sm-12">
                    <div class="tp-wrapper">
                      <div
                        class="tp-box"
                        (click)="toggleFlipCard(0)"
                        [@flipState]="skillCard[0]['status']"
                      >
                        <div class="tp-box__side tp-box__front">
                          <div class="cnt-block equal-hight">
                            <figure>
                              <img
                                src="assets/Logo/HTML_CSS_JS.jpg-1.png"
                                class="img-responsive"
                                alt=""
                              />
                            </figure>
                            <h3>
                              <a
                                href="https://developer.mozilla.org/en-US/"
                                target="_blank"
                                >HTML, CSS & JS</a
                              >
                            </h3>
                            <p>
                              My initial contact with HTML & CSS was back in my
                              teen days, spending time redesigning WordPress
                              sites. After learning the basics of HTML & CSS I
                              moved on with JavaScript. I have been developing
                              with JS since 2019, most with TypeScript.
                            </p>
                            <div class="projects">
                              <p>Click to see Projects</p>
                              <i class="fas fa-reply"></i>
                            </div>
                          </div>
                        </div>

                        <div class="tp-box__side tp-box__back">
                          <div class="cnt-block">
                            <h3 class="header-back">Tasks & Projects</h3>
                            <h6>
                              <ul>
                                <div class="project-item">
                                  <i class="fas fa-desktop fa-2x"></i>
                                  <li>
                                    My Portfolio Website other
                                    Projects
                                  </li>
                                </div>
                                <div class="project-item">
                                  <i class="fab fa-instagram fa-2x"></i>
                                  <li>
                                    Instagram Clone (programmed with Ruby on
                                    Rails)
                                  </li>
                                </div>
                                <div class="project-item">
                                  <i class="fab fa-wordpress-simple fa-2x"></i>
                                  <li>Wordpress websites</li>
                                </div>
                              </ul>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </slide>

            <!-- Python -->
            <slide>
              <div class="text-center text-white">
                <ul class="row">
                  <li class="col-sm-12">
                    <div class="tp-wrapper">
                      <div
                        class="tp-box"
                        (click)="toggleFlipCard(2)"
                        [@flipState]="skillCard[2]['status']"
                      >
                        <div class="tp-box__side tp-box__front">
                          <div class="cnt-block equal-hight">
                            <figure>
                              <img
                                src="assets/Logo/python-logo.png"
                                class="img-responsive"
                                alt=""
                              />
                            </figure>
                            <h3>
                              <a
                                href="https://docs.microsoft.com/en-us/dotnet/csharp/"
                                target="_blank"
                                >Python</a
                              >
                            </h3>
                            <p>
                              Python came on me as a fast, easy to learn and
                              read programming language which I use in
                              combination with Selenium, a suite of tools for
                              automating web browsers and the Django framework.
                              I really adore this language for its simplicity,
                              application area and its community.
                            </p>
                            <div class="projects">
                              <p>Click to see Projects</p>
                              <i class="fas fa-reply"></i>
                            </div>
                          </div>
                        </div>
                        <div class="tp-box__side tp-box__back">
                          <div class="cnt-block equal-hight">
                            <h3 class="header-back">Tasks & Projects</h3>
                            <h6>
                              <ul>
                                <div class="project-item">
                                  <i class="fas fa-robot fa-2x"></i>
                                  <li>Selenium Web Browser Automation</li>
                                </div>
                                <div class="project-item">
                                  <i class="far fa-window-maximize fa-2x"></i>
                                  <li>Web Development with Django Framework</li>
                                </div>
                              </ul>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </slide>

            <slide>
              <div class="text-center text-white">
                <ul class="row">
                  <!--- Java -->
                  <li class="col-sm-12">
                    <div class="tp-wrapper">
                      <div
                        class="tp-box"
                        (click)="toggleFlipCard(4)"
                        [@flipState]="skillCard[4]['status']"
                      >
                        <div class="tp-box__side tp-box__front">
                          <div class="cnt-block equal-hight">
                            <figure>
                              <img
                                src="assets/Logo/Java_Logo.jpg.png"
                                class="img-responsive"
                                alt=""
                              />
                            </figure>
                            <h3>
                              <a
                                href="https://docs.oracle.com/en/java/"
                                target="_blank"
                                >Java</a
                              >
                            </h3>
                            <p>
                              My first contact with Java was through my time at
                              IT-school in Bern, Switzerland. I have developed
                              numerous smaller projects with Java to learn the
                              basics although nothing very sophisticated yet.
                            </p>
                            <div class="projects">
                              <p>Click to see Projects</p>
                              <i class="fas fa-reply"></i>
                            </div>
                          </div>
                        </div>
                        <div class="tp-box__side tp-box__back">
                          <div class="cnt-block equal-hight">
                            <h3 class="header-back">Tasks & Projects</h3>
                            <h6>
                              <ul>
                                <div class="project-item">
                                  <i class="fas fa-gamepad fa-2x"></i>
                                  <li>
                                    Various Games/ Programs (Minesweeper,
                                    Bomberman etc.)
                                  </li>
                                </div>
                                <div class="project-item">
                                  <i class="fas fa-crop fa-2x"></i>
                                  <li>Graphic Editor</li>
                                </div>
                              </ul>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

    <!--- Second Row Skills-->
    <div id="skills-subheading">
      <h4>Automation</h4>
    </div>

    <ul class="row">
      <!--- Automation Anywhere -->
      <li class="col-sm-12 col-md-6 col-lg-6">
        <div class="tp-wrapper">
          <div
            class="tp-box"
            (click)="toggleFlipCard(5)"
            [@flipState]="skillCard[5]['status']"
          >
            <div class="tp-box__side tp-box__front">
              <div class="cnt-block equal-hight">
                <figure>
                  <img
                    src="assets/Logo/AA_Logo.jpg.png"
                    class="img-responsive"
                    alt=""
                  />
                </figure>
                <h3>
                  <a
                    href="https://apeople.automationanywhere.com/s/?language=en_US"
                    target="_blank"
                    >Automation Anywhere
                  </a>
                </h3>
                <p>
                  Through my time at the robotics/ automation department at
                  Swisscom I had the opportunity to gain knowledge and skills
                  for this automation software which I also certified on.
                </p>
                <div class="projects">
                  <p>Click to see Projects</p>
                  <i class="fas fa-reply"></i>
                </div>
              </div>
            </div>
            <div class="tp-box__side tp-box__back">
              <div class="cnt-block equal-hight">
                <h3 class="header-back">Tasks & Projects</h3>
                <h6>
                  <ul>
                    <div class="project-item">
                      <i class="fas fa-robot fa-2x"></i>
                      <li>
                        Various Automation Bots for HR Processes at Swisscom
                      </li>
                    </div>
                    <div class="project-item">
                      <i class="fas fa-certificate fa-2x"></i>
                      <li>
                        Automation Anywhere Certified Advanced RPA Professional
                        (V11.0)
                      </li>
                    </div>
                  </ul>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!--- VBA -->
      <li class="col-sm-12 col-md-6 col-lg-6">
        <div class="tp-wrapper">
          <div
            class="tp-box"
            (click)="toggleFlipCard(6)"
            [@flipState]="skillCard[6]['status']"
          >
            <div class="tp-box__side tp-box__front">
              <div class="cnt-block equal-hight">
                <figure>
                  <img
                    src="assets/Logo/VBA_Logo.png"
                    class="img-responsive"
                    alt=""
                  />
                </figure>
                <h3>
                  <a
                    href="https://docs.microsoft.com/en-us/office/vba/api/overview/"
                    target="_blank"
                    >VBA</a
                  >
                </h3>
                <p>
                  Visual Basic for Applications was another language I needed to
                  pick up in the automation world, which improved various steps
                  with Automation Anywhere in terms of efficiency and
                  performance. Excel was the main application which I used VBA
                  for.
                </p>
                <div class="projects">
                  <p>Click to see Projects</p>
                  <i class="fas fa-reply"></i>
                </div>
              </div>
            </div>
            <div class="tp-box__side tp-box__back">
              <div class="cnt-block equal-hight">
                <h3 class="header-back">Tasks & Projects</h3>
                <h6>
                  <ul>
                    <div class="project-item">
                      <i class="far fa-file-excel fa-2x"></i>
                      <li>
                        Used for various tasks in combination with Automation
                        Anywhere Bots
                      </li>
                    </div>
                  </ul>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Empty row for dashed line-->
<section>
  <div class="container-fluid">
    <div class="row is-flex">
      <div class="col-6" id="left-box-empty-low"></div>
      <div class="col-6" id="right-box-empty-low"></div>
    </div>
  </div>
</section>
