.container {
  border: 2px solid white;
  border-radius: 8px 8px 8px 8px;
}

.description {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  color: white;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
}

#skills-header {
  padding-top: 20px;
  color: #346e93;
}

#skills-subheading h4 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 0px;
  font-weight: 200;
  text-align: center;
  padding-bottom: 50px;
}

.row.heading h2 {
  color: white;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.row.heading h4 {
  font-weight: 200;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-weight: 300;
  margin-bottom: 30px;
  color: #2a2a2a;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
  display: block;
}

.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}
.section .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: solid white 2px;
}
.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}

.header-back {
  margin-bottom: 40px;
}

.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
// .practice-area .inner img {
//   display: inline-block;
// }

.section .cnt-block {
  float: left;
  width: 100%;
  min-height: 650px;
  max-height: 700px;
  background: #8f98c1;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  border-radius: 8px 8px 8px 8px;
  margin: 0 0 80px;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cnt-block {
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.section .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.section .cnt-block img {
  width: 170px;
  height: 170px;
  margin-left: -10px;
  border-radius: 10%;
  margin-bottom: 20px;
}
.section .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
  text-transform: uppercase;
}
.section .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}
.section .cnt-block h3 a:hover {
  color: #337ab7;
}
.section .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.section .cnt-block .follow-us {
  margin: 20px 0 0;
}
.section .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.section .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}
.section .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
}

#left-box-empty-low {
  border-right: 2px solid white;
  height: 50vh;
}

#right-box-empty-low {
  height: 50vh;
}

// Card
.tp-wrapper {
  perspective: 1000px;
}

.tp-box {
  margin: 0 auto;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: 0.6s;
  width: 100%;
  height: 100%;
}

.tp-box__side {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: 100%;
}

.tp-box__front {
  position: absolute;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  top: 0;
  left: 0;
}

.tp-box__back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(-180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

h5 {
  font-weight: 300;
}

i {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.fas,
.fab,
.far {
  margin-bottom: 15px;
}

.projects {
  color: rgb(53, 53, 53);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 100%;
  position: absolute;
}

.project-item {
  margin-bottom: 15%;
}
