<section>
  <div class="container-fluid">
    <div class="row is-flex">
      <div class="col-md-12 col-lg-6" id="left-box" [ngStyle]="!isBiggerThan992px ? {'border-right': 'none'} : {'border-right': '2px solid white'}">
        <div style="display: table">
          <div style="display: table-cell; vertical-align: middle">
            <h2 class="heading">Projects</h2>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6" id="right-box">
        <carousel [isAnimated]="true" [noWrap]="true">
          <!-- Slide 1-->
          <slide >
            <div>
              <div class="project-slide">
                <h3 class="slide-header">CoPE Services, Swisscom</h3>
                <!-- Date Row -->
                <div class="row">
                  <div class="col-6">
                    <h5>Date:</h5>
                  </div>
                  <div class="col-6">
                    <h5><i>11.2020 - current</i></h5>
                  </div>
                </div>
                <p class="slide-content">
                  For my final project at Swisscom I chose to head back to the
                  CoPE Services Team as I were last year. In this time I will
                  further deepen my Front-End knowledge with the Angular
                  framework as I will undergo my final training exam in this
                  project in spring 2021.
                </p>
                <div class="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d43592.01081958876!2d7.418622000000001!3d46.932198!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e38545a2db54d%3A0x7582551960396712!2sWaldeggstrasse%2051%2C%203097%20Liebefeld%2C%20Switzerland!5e0!3m2!1sen!2sus!4v1605005126155!5m2!1sen!2sus"
                  ></iframe>
                </div>
              </div>
            </div>
          </slide>
          <!-- Slide 2-->
          <slide>
            <div>
              <div class="project-slide">
                <h3 class="slide-header">Robotics</h3>
                <!-- Date Row -->
                <div class="row">
                  <div class="col-6">
                    <h5>Date:</h5>
                  </div>
                  <div class="col-6">
                    <h5><i>05.2020 - 10.2020</i></h5>
                  </div>
                </div>
                <p class="slide-content">
                  Spending the last few months with mainly front-end tasks I
                  intentionally changed my field of focus to learn
                  more about automation. During this time I learned to use
                  the automation software "Automation Anywhere" together with
                  the usage of VBA (Visual Basic for Applications). My main
                  tasks were the analysis of use-cases, creation of concept for
                  the automation development as well as the deployment.
                </p>
                <div class="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1178.0104652219927!2d7.457370134258775!3d46.98064523996515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x605c9f2af4330d17!2sSwisscom%20Business%20Customers!5e0!3m2!1sen!2sus!4v1605012717608!5m2!1sen!2sus"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    style="border: 0"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"
                  ></iframe>
                </div>
              </div>
            </div>
          </slide>
          <!-- Slide 3-->
          <slide>
            <div>
              <div class="project-slide">
                <h3 class="slide-header">CoPE Services</h3>
                <!-- Date Row -->
                <div class="row">
                  <div class="col-6">
                    <h5>Date:</h5>
                  </div>
                  <div class="col-6">
                    <h5><i>11.2019 - 04.2020</i></h5>
                  </div>
                </div>
                <p class="slide-content">
                  After gathering the basics of programming at my previous
                  project it was time to fully learn a framework. In my case,
                  this was Angular. The first half was filled with mostly
                  self-study of the framework following a gradual introduction
                  into concrete project tasks. The second half made it possible
                  for me to apply my gathered knowledge for various tasks (GUI
                  improvements for the team's intern monitoring systems or
                  general improvements in user experience).
                </p>
                <div class="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d43592.01081958876!2d7.418622000000001!3d46.932198!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e38545a2db54d%3A0x7582551960396712!2sWaldeggstrasse%2051%2C%203097%20Liebefeld%2C%20Switzerland!5e0!3m2!1sen!2sus!4v1605005126155!5m2!1sen!2sus"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    style="border: 0"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"
                  ></iframe>
                </div>
              </div>
            </div>
          </slide>
          <!-- Slide 4-->
          <slide>
            <div>
              <div class="project-slide">
                <h3 class="slide-header">Apps Team</h3>
                <!-- Date Row -->
                <div class="row">
                  <div class="col-6">
                    <h5>Date:</h5>
                  </div>
                  <div class="col-6">
                    <h5><i>08.2019 - 10.2019</i></h5>
                  </div>
                </div>
                <p class="slide-content">
                  My first project at Swisscom and thus my first serious
                  approach at programming. Here I learned the basics in CSS3,
                  HTML5 and JavaScript. It was mostly self-study time and
                  received various small tasks to do which should further deepen
                  my front-end skills.
                </p>
                <div class="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d495.34135728968573!2d7.470489168502317!3d46.97535899187267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e3b393f551439%3A0x629590e54e5044e2!2sSwisscom%20Offices%20(Itt-Ey10)!5e0!3m2!1sen!2sus!4v1605012685687!5m2!1sen!2sus"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    style="border: 0"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"
                  ></iframe>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</section>
