// .col-sm {
//   padding-right: 0px !important;
//   padding-left: 0px !important;
//   max-width: 100%;
// }

#right-box {
  background-color: #346e93;
  border-top: 2px dashed white;
  padding: 0;
}

#left-box {
  border-right: 2px dashed white;
  border-bottom: 2px dashed white;
  padding: 0;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.project-slide {
  height: 100vh;
  padding: 80px;
  margin-bottom: 20px;
}

.slide-header {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 300;
  color: white;
}

.slide-content {
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: 400;
  color: white;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

h5 {
  padding-left: 40px;
  font-size: 1em;
  color: white;
  font-weight: 400;
}

.heading {
  color: white;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-top: 45%;
  text-transform: uppercase;
  display: block;
}
