#right-box {
  background-color: #346e93;
  height: 100vh;
  padding: 0;
  border-top: 2px dashed white;
}

#left-box {
  border-right: 2px dashed white;
  border-top: 2px dashed white;
  justify-content: center;
  padding: 0;
  height: 100vh;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.project-slide {
  position: relative;
  height: 100vh;
  padding: 10%;
  padding-top: 5%;
  margin-bottom: 20px;

}

.slide-header {
  text-align: center;
  margin-bottom: 10%;
  font-weight: 300;
  color: white;
}

.slide-content {
  margin-top: 5%;
  margin-bottom: 50px;
  font-weight: 400;
  color: white;
  padding-bottom: 5%;
  margin-bottom: 30px;
}

h5 {
  padding-left: 40px;
  font-size: 1em;
  color: white;
  font-weight: 400;
}

.heading {
  color: white;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  text-transform: uppercase;
}

.map {
  position: relative;
  max-width: 500px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 40px;
  margin-bottom: 20px;
  margin-top: 5%;
}

