<section>
  <div class="row is-flex">
    <div class="col-sm-6" id="left-box">
      <h2 class="heading">Projects</h2>
    </div>

    <div class="col-sm-6" id="right-box">
      <carousel [isAnimated]="true" [noWrap]="true">
        <!-- Slide 1-->
        <slide>
          <div>
            <div class="project-slide">
              <h3 class="slide-header">CoPE Services, Swisscom</h3>
              <!-- Date Row -->
              <div class="row">

                <div class="col-sm-6">
                  <h5>Date:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>11.2020 - current</i></h5>
                </div>
              </div>
              <!-- Location Row -->
              <div class="row">
                <div class="col-sm-6">
                  <h5>Location:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>Bern, Liebefeld</i></h5>
                </div>
              </div>
              <p class="slide-content">
                Since August 2019 I've been working as a software/ web developer
                for Swisscom AG, Switzerland's leading telecommunication
                company. My training with them will last until summer 2021.
              </p>
            </div>
          </div>
        </slide>
        <!-- Slide 2-->
        <slide>
          <div>
            <div class="project-slide">
              <h3 class="slide-header">Robotics</h3>
              <!-- Date Row -->
              <div class="row">

                <div class="col-sm-6">
                  <h5>Date:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>05.2020 - 10.2020</i></h5>
                </div>
              </div>
              <!-- Location Row -->
              <div class="row">
                <div class="col-sm-6">
                  <h5>Location:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>Bern, Worblaufen</i></h5>
                </div>
              </div>
              <p class="slide-content">
                Since August 2019 I've been working as a software/ web developer
                for Swisscom AG, Switzerland's leading telecommunication
                company. My training with them will last until summer 2021.
              </p>
            </div>
          </div>
        </slide>
        <!-- Slide 3-->
        <slide>
          <div>
            <div class="project-slide">
              <h3 class="slide-header">CoPE Services</h3>
              <!-- Date Row -->
              <div class="row">

                <div class="col-sm-6">
                  <h5>Date:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>11.2019 - 04.2020</i></h5>
                </div>
              </div>
              <!-- Location Row -->
              <div class="row">
                <div class="col-sm-6">
                  <h5>Location:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>Bern, Liebefeld</i></h5>
                </div>
              </div>
              <p class="slide-content">
                Since August 2019 I've been working as a software/ web developer
                for Swisscom AG, Switzerland's leading telecommunication
                company. My training with them will last until summer 2021.
              </p>
            </div>
          </div>
        </slide>
        <!-- Slide 4-->
        <slide>
          <div>
            <div class="project-slide">
              <h3 class="slide-header">Apps Team</h3>
              <!-- Date Row -->
              <div class="row">

                <div class="col-sm-6">
                  <h5>Date:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>08.2019 - 10.2019</i></h5>
                </div>
              </div>
              <!-- Location Row -->
              <div class="row">
                <div class="col-sm-6">
                  <h5>Location:</h5>
                </div>
                <div class="col-sm-6">
                  <h5><i>Bern, Ittigen</i></h5>
                </div>
              </div>
              <p class="slide-content">
                Since August 2019 I've been working as a software/ web developer
                for Swisscom AG, Switzerland's leading telecommunication
                company. My training with them will last until summer 2021.
              </p>
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21775.23056002648!2d7.454905414340323!3d46.983223715472214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e309a2ee08a71%3A0x7045f13c2a5183d7!2sIttigen!5e0!3m2!1sen!2sch!4v1604572459971!5m2!1sen!2sch" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</section>
