<!-- Boxes About Me -->

<!-- If screen is smaller than 992px width, place About Me box first/ above slideshow -->
<div *ngIf="!isBiggerThan992px">
<!-- <ng-template #IsSmallerThan992px> -->
  <section>
    <div class="row is-flex">
    <div class="col-12 col-lg-6" id="right-box">
      <h2 class="heading">About Me</h2>
    </div>
    <div class="col-12 col-lg-6" id="left-box">
      <carousel [isAnimated]="true">
        <slide>
          <div class="darken-lower-part">
            <img
              src="../../assets/Swisscom_logo-2.jpg"
              alt="first slide"
              class="img-slideshow"
            />
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h3>Swisscom</h3>
            <p>
              Since August 2019 I've been working as a software/ web developer
              for Swisscom AG, Switzerland's leading telecommunication company.
              My training with them will last until summer 2021.
            </p>
          </div>
        </slide>
        <slide>
          <div class="darken-lower-part">
            <img
              src="../../assets/Zürich.jpg"
              alt="second slide"
              class="img-slideshow"
            />
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h3>Living in Zurich</h3>
            <p>
              Never have I thought that someday I would settle down in Zurich,
              but until this day I can't share the thought of regretting it.
              I've moved from Basel to Zurich in 2016, back then for University.
              Today I live together with my better half in our apartment and
              enjoy the time with friends and family.
            </p>
          </div>
        </slide>
        <slide>
          <div class="darken-lower-part">
            <img
              src="../../assets/Arlesheim-Dom-ps.jpg"
              alt="third slide"
              class="img-slideshow"
            />
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h3>Growing Up</h3>
            <p>
              Most of my years I spent growing up in Arlesheim; a small, but
              very charming village located south of Basel, Switzerland. There I
              visited state school until 2011, from where I proceeded with my
              A-Levels in Basel. After graduating it was time to head "out of
              town" and find my luck up north in Sheffield, UK.
            </p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  </section>
<!-- </ng-template> -->
</div>

<div *ngIf="isBiggerThan992px">
  <section>
    <div class="row is-flex">
      <div class="col-md-12 col-lg-6" id="left-box">
        <carousel [isAnimated]="true">
          <slide>
            <div class="darken-lower-part">
              <img
                src="../../assets/Swisscom_logo-2.jpg"
                alt="first slide"
                class="img-slideshow"
              />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h3>Swisscom</h3>
              <p>
                Since August 2019 I've been working as a software/ web developer
                for Swisscom AG, Switzerland's leading telecommunication
                company. My training with them will last until summer 2021.
              </p>
            </div>
          </slide>
          <slide>
            <div class="darken-lower-part">
              <img
                src="../../assets/Zürich.jpg"
                alt="second slide"
                class="img-slideshow"
              />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h3>Living in Zurich</h3>
              <p>
                Never have I thought that someday I would settle down in Zurich,
                but until this day I can't share the thought of regretting it.
                I've moved from Basel to Zurich in 2016, back then for
                University. Today I live together with my better half in our
                apartment and enjoy the time with friends and family.
              </p>
            </div>
          </slide>
          <slide>
            <div class="darken-lower-part">
              <img
                src="../../assets/Arlesheim-Dom-ps.jpg"
                alt="third slide"
                class="img-slideshow"
              />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h3>Growing Up</h3>
              <p>
                Most of my years I spent growing up in Arlesheim; a small, but
                very charming village located south of Basel, Switzerland. There
                I visited state school until 2011, from where I proceeded with
                my A-Levels in Basel. After graduating it was time to head "out
                of town" and find my luck up north in Sheffield, UK.
              </p>
            </div>
          </slide>
        </carousel>
      </div>
      <div class="col-md-12 col-lg-6" id="right-box">
        <h2 class="heading">About Me</h2>
      </div>
    </div>
  </section>
</div>

<!-- Empty row for dashed line-->
<section>
  <div class="row">
    <div class="col-6" id="left-box-empty"></div>
    <div class="col-6" id="right-box-empty"></div>
  </div>
</section>

<!-- Skills -->
<section class="section padding-lg">
  <div class="container">
    <div class="row heading heading-icon" id="skills-header">
      <h2>Skills</h2>
    </div>

    <div id="skills-subheading">
      <h4>Web-& Software Development</h4>
    </div>

    <!--- First Row Skills -->
    <ul class="row">
      <!--- HTML, CSS& JS -->
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight">
          <figure>
            <img
              src="../../assets/Logo/HTML_CSS_JS.jpg-1.png"
              class="img-responsive"
              alt=""
            />
          </figure>
          <h3>
            <a href="https://developer.mozilla.org/en-US/">HTML, CSS& JS</a>
          </h3>
          <p>
            Like with many programmers, it all started of with HTML and CSS,
            later also SCSS. My first contact with HTML& CSS was back in my teen
            days, spending some time redesigning WordPress sites. After learning
            the basics of HTML and CSS it was time to learn my first serious
            programming language. I have been developing with JS since 2019,
            although not as much as with TypeScript.
          </p>
        </div>
      </li>
      <!--- Angular -->
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight">
          <figure>
            <img
              src="../../assets/Logo/Angular_full_color_logo.svg"
              class="img-responsive"
              alt=""
            />
          </figure>
          <h3><a href="https://angular.io/docs">Angular& TypeScript </a></h3>
          <p>
            Have been developing with Angular since 2019. I really appreaciate
            the architecture of this framework, which in contrast to React made
            it easier to understand.
          </p>
        </div>
      </li>
      <!--- C# -->
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight">
          <figure>
            <img
              src="../../assets/Logo/C_Sharp_logo.jpg.png"
              class="img-responsive"
              alt=""
            />
          </figure>
          <h3>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a>
          </h3>
          <p>
            C# was my first OOP (Object Orientated Programming) language which I
            learned and currently am still further improving. Some small
            projects have been developed with this language.
          </p>
        </div>
      </li>
      <!--- Java -->
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight">
          <figure>
            <img
              src="../../assets/Logo/Java_Logo.jpg.png"
              class="img-responsive"
              alt=""
            />
          </figure>
          <h3><a href="https://docs.oracle.com/en/java/">Java</a></h3>
          <p>
            My first contact with Java was through my time at IT-school in Bern,
            CH. I have developed numerous smaller projects with Java, although
            nothing very sophisticated yet.
          </p>
        </div>
      </li>
    </ul>

    <div id="skills-subheading">
      <h4>Automation</h4>
    </div>

    <!--- Second Row Skills-->
    <ul class="row">
      <!--- Automation Anywhere -->
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="max-height: 400px">
          <figure>
            <img
              src="../../assets/Logo/AA_Logo.jpg.png"
              class="img-responsive"
              alt=""
            />
          </figure>
          <h3>
            <a href="https://apeople.automationanywhere.com/s/?language=en_US"
              >Automation Anywhere
            </a>
          </h3>
          <p>
            Through my time at the robotics department at Swisscom I had the
            opportunity to gain knowledge and skills for this automation
            software which I also certified on.
          </p>
        </div>
      </li>
      <!--- VBA -->
      <li class="col-sm-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="max-height: 400px">
          <figure>
            <img
              src="../../assets/Logo/VBA_Logo.png"
              class="img-responsive"
              alt=""
            />
          </figure>
          <h3>
            <a href="https://docs.microsoft.com/en-us/office/vba/api/overview/"
              >VBA</a
            >
          </h3>
          <p>
            Visual Basic for Applications was another language I needed to pick
            up in the automation world, which improved various steps with
            Automation Anywhere in terms of efficiency and performance. Excel
            was the main application which I used VBA for.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Empty row for dashed line-->
<section>
  <div class="row is-flex">
    <div class="col-6" id="left-box-empty-low"></div>
    <div class="col-6" id="right-box-empty-low"></div>
  </div>
</section>
