
#right-box {
  background-color: #346e93;
  border-top: 2px dashed white;
  padding: 0;
  height: 100vh;
  justify-content: center;
}

#left-box {
  border-right: 2px dashed white;
  padding: 0;
  height: 100vh;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

#left-box-empty {
  border-top: 2px dashed white;
  border-right: 2px dashed white;
  height: 50vh;
}

#right-box-empty {
  border-top: 2px dashed white;
  height: 50vh;

}

.img-slideshow {
  filter: opacity(75%);
  width: 100%; // dimensions are mandatory
	height: 100vh; // dimensions are mandatory
	object-fit: cover;
	overflow: hidden; // Cuts off the parts of the image poking out
}

img.display {
  display: block;
  margin: 0 auto;
}

.container {
  border: 2px dashed white;
}

.heading {
  color: white;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  text-transform: uppercase;

}

.carousel-caption-small {
  backdrop-filter: blur(2px);
  border-radius: 8px;
}
