.col-sm-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.right-box {
  height: 100vh;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  justify-content: center;
}

.left-box {
  min-height: 100vh;
  padding: 0 !important;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.left-box-empty {
  border-right: 2px solid white;
  height: 50vh;
  padding: 0 !important;
}

.right-box-empty {
  height: 50vh;
  padding: 0 !important;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.container {
  border: 2px solid white;
}

.heading {
  color: white;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  text-transform: uppercase;
}

.contact-title {
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  padding: 10% 10% 50px;
}

.contact-description {
  color: white;
  text-align: center;
  font-weight: 300;
  padding: 0 50px 50px;
}

label {
  color: white;
  font-weight: 200;
}

button {
  display: block;
  margin: 30px auto;
  border: 2px solid white !important;
  background-color: #1b3b4e !important;
  cursor: default;
}

.btn .btn-primary :hover {
  color: #0047e0 !important;
  cursor: pointer;
}

.far .fa-paper-plane .fa-2x {
  font-size: x-large;
  text-decoration: none;
  color: rgb(204, 204, 204);
  cursor: default;
}

.far .fa-paper-plane .fa-2x :hover {
  font-size: x-large;
  text-decoration: none;
  color: rgb(0, 80, 230) !important;
  cursor: pointer;
}

.form-group {
  padding: 0 50px;
  margin: 0 0 10px 0;
}

.text-danger {
  color: red;
}

.char-counter {
  font-weight: 200;
  color: white;
}

.sent-msg {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto 40px;
  font-weight: 300;
}

.text-area {
  height: 100px;
}

.text-area:focus {
  height: 200px;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

.linkedin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.linkedin-button {
  text-align: center;
  background-color: #0077b5;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s; /* Apply transition for color and transform */
}

.linkedin-button:hover {
  background-color: #005983; /* Darker shade on hover */
  transform: scale(1.1); /* Scale the entire button */
}

.linkedin-button i {
  color: white;
  font-size: 1.2rem; /* Make the icon larger than the text */
  margin-left: 8px; /* Spacing between icon and text */
}

.linkedin-button span {
  color: white;
  font-size: 1rem; /* Set the size of the text */
  font-weight: bold;
}
