<!-- Boxes About Me -->
<div (window:resize)="onResize($event)">
  <!-- When screen width is smaller than 992px -->
  <div *ngIf="!isBiggerThan992px">
    <section>
      <!-- Left Box-->
      <div class="container-fluid">
        <div class="row is-flex">
          <div class="col-md-12 col-lg-6" id="right-box" [ngStyle]="!isBiggerThan992px ? {'border-bottom': 'none'}: {'border-bottom': '2px solid white'}">
            <div style="display: table">
              <div style="display: table-cell; vertical-align: middle">
                <h2 class="heading">Contact</h2>
              </div>
            </div>
          </div>

          <!-- Right Box -->
          <div class="col-md-12 col-lg-6" id="left-box" [ngStyle]="!isBiggerThan992px ? {'border-right': 'none'} : {'border-right': '2px solid white'}">
            <h2 class="contact-title">Let's Build Something Together</h2>
            <h5 class="contact-description">
              Feel free to reach out if you're looking for a developer, have a question, or just want to connect.
            </h5>
            <div class="container-fluid">
              <div class="row is-flex">
                <div class="col-sm-12">
                  <form
                    [formGroup]="FormData"
                    (ngSubmit)="onSubmit(FormData.value)"
                  >
                    <div class="form-group">
                      <label for="Email">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        formControlName="email"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          (registerFormControl.email.touched || submitted) &&
                          registerFormControl.email.errors?.required
                        "
                      >
                        Email is required
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          registerFormControl.email.touched &&
                          registerFormControl.email.errors?.email
                        "
                      >
                        Enter a valid email address
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="fullname">Full Name</label>
                      <input
                        type="text"
                        class="form-control"
                        name="fullName"
                        placeholder="Full Name"
                        formControlName="fullName"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          (registerFormControl.fullName.touched || submitted) &&
                          registerFormControl.fullName.errors?.required
                        "
                      >
                        Full Name is required
                      </span>
                    </div>

                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <textarea
                        class="form-control"
                        formControlName="comment"
                        name="comment"
                        id="text-area"
                        placeholder="Please Leave a message"
                        (keyup)="onKeyUp($event)"
                        (click)="zoomInOnClick()"
                        required
                      >
                      </textarea>
                      <div>
                      <div class="char-counter" style="float: left;">
                        {{ numberOfCharacters1 }} /
                        {{ maxNumberOfCharacters }}
                      </div>

                      <span
                        class="text-danger"
                        style="float: right;"
                        *ngIf="
                          (registerFormControl.comment.touched || submitted) &&
                          registerFormControl.comment.errors?.required
                        "
                      >
                        Message is required
                      </span>
                      <span
                        class="text-danger"
                        style="float: right;"
                        *ngIf="registerFormControl.comment.errors?.maxlength"
                      >
                        Message is too long
                      </span>
                    </div>
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!FormData.valid"
                      [ngClass]="FormData.valid ? ' :hover' : ''"
                    >
                      <i
                        class="far fa-paper-plane fa-2x"
                        [ngClass]="FormData.valid ? ' :hover' : ''"
                      ></i>
                    </button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- When screen width is greater than 992px -->
  <div *ngIf="isBiggerThan992px">
    <section>
      <!-- Left Box-->
      <div class="container-fluid">
        <div class="row is-flex">
          <div class="col-md-12 col-lg-6" id="left-box">
            <h2 class="contact-title">Let's Build Something Together</h2>
            <h5 class="contact-description">
              Feel free to reach out if you're looking for a developer, have a question, or just want to connect.
            </h5>
            <div class="container-fluid">
              <div class="row is-flex">
                <div class="col-12">
                  <form
                    [formGroup]="FormData"
                    (ngSubmit)="onSubmit(FormData.value)"
                  >
                    <div class="form-group">
                      <label for="Email">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        formControlName="email"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          (registerFormControl.email.touched || submitted) &&
                          registerFormControl.email.errors?.required
                        "
                      >
                        Email is required
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          registerFormControl.email.touched &&
                          registerFormControl.email.errors?.email
                        "
                      >
                        Enter a valid email address
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="fullname">Full Name</label>
                      <input
                        type="text"
                        class="form-control"
                        name="fullName"
                        placeholder="Full Name"
                        formControlName="fullName"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          (registerFormControl.fullName.touched || submitted) &&
                          registerFormControl.fullName.errors?.required
                        "
                      >
                        Full Name is required
                      </span>
                    </div>

                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <textarea
                        class="form-control"
                        formControlName="comment"
                        placeholder="Please leave a message"
                        name="comment"
                        rows="4"

                        required
                      >
                      </textarea>
                      <div style="color: white; font-weight: 200">
                        {{ numberOfCharacters1 }} / {{ maxNumberOfCharacters }}
                      </div>
                      <span
                        class="text-danger"
                        *ngIf="
                          (registerFormControl.comment.touched || submitted) &&
                          registerFormControl.comment.errors?.required
                        "
                      >
                        Message is required
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="registerFormControl.comment.errors?.maxlength"
                      >
                        Message is too long
                      </span>
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!FormData.valid"
                      [ngClass]="FormData.valid ? ' :hover' : ''"
                      (click)="onSend($event)"
                    >
                      <i
                        class="far fa-paper-plane fa-2x"
                        [ngClass]="FormData.valid ? ' :hover' : ''"
                      ></i>
                    </button>
                    <div *ngIf="showMessage === true" class="sent-msg">Message sent successfully!</div>

                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Box -->
          <div class="col-md-12 col-lg-6" id="right-box">
            <div style="display: table">
              <div style="display: table-cell; vertical-align: middle">
                <h2 class="heading">Contact</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Empty row for dashed line-->
  <section>
    <div class="container-fluid">
      <div class="row is-flex">
        <div class="col-6" id="left-box-empty"></div>
        <div class="col-6" id="right-box-empty"></div>
      </div>
    </div>
  </section>
</div>
