.navbar.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
  padding-left: 10%;
  max-width: auto;
  background: transparent !important;
  margin: 0% 10%;
  display: flex;
}

.add-blur {
  transition: 2s -webkit-filter linear;
  backdrop-filter: blur(6px);
  border-radius: 0px 0px 8px 8px;
  border-left: solid 2px rgb(255, 255, 255);
  border-bottom: solid 2px rgb(255, 255, 255);
  border-right: solid 2px rgb(255, 255, 255);
}

.no-blur {
  backdrop-filter: none;
}

.navbar .nav-link {
  color: #ffffff;
  font-weight: 300;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.nav-item {
  text-align: center;
  margin: 0 auto;
}

.navbar .navbar-toggler {
  border-style: none !important;
}

li :hover {
  color: rgb(182, 182, 182) !important;
}

a {
  text-align: center;
}

.navbar .navbar-nav {
  margin-left: 50px;
}

.active_route {
  border: solid 2px rgb(255, 255, 255);
  color: white !important;
  min-width: 70px;
  max-width: 100px;
  text-align: center;
}

// Removes the outline of all buttons (Bootstrap and Hamburgers.css)

button :focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler.collapsed {
  outline: none !important;
  box-shadow: none !important;
}

button .navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.hamburger-inner {
color: white !important;
}
