$white-color: #ffffff;
$blur-border-color: rgb(255, 255, 255);
$hover-color: rgb(109, 109, 109);

.navbar {
  &.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    padding-left: 10%;
    background: transparent !important;
    margin: 0 10%;
    display: flex;
  }

  .nav-link {
    color: $white-color;
    font-weight: 300;
    padding: 0 10px;
    cursor: pointer;
  }

  .navbar-toggler {
    border-style: none !important;

    &.collapsed,
    :focus,
    :active,
    .navbar-toggler-icon:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .navbar-nav {
    margin-left: 50px;
  }
}

.add-blur {
  transition: 2s -webkit-filter linear;
  backdrop-filter: blur(6px);
  border-radius: 0 0 8px 8px;
  border-left: solid 2px $blur-border-color;
  border-bottom: solid 2px $blur-border-color;
  border-right: solid 2px $blur-border-color;
}

.no-blur {
  backdrop-filter: none;
}

.nav-item {
  text-align: center;
  margin: 0 auto;
}

.nav-link:hover {
  color: $hover-color !important;
}

a {
  text-align: center;
}

.active_route {
  border: solid 2px $blur-border-color;
  color: $white-color !important;
  min-width: 70px;
  max-width: 100px;
  text-align: center;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.hamburger-inner {
  color: $white-color !important;
}